<!-- This is the footer. A big problem has been found in the css use the footer to find it again -->
<footer class="col-md-12">
<hr>

<div class="col-md-2 col-md-offset-1" >
	<p class="no-padding">Company Name</p>
	<p class="no-padding">Address Line 1</p>
	<p class="no-padding">Address Line 2</p>
	<p class="no-padding">City</p>
	<p class="no-padding">State</p>
	<p class="no-padding">Copyright: 2016 &copy;</p>
</div>

<div class="col-md-3 text-center">
	<ul class="list-unstyled">
	<li><h3>Your Links</h3></li>
	<a href="account.html"><li>Account Details</li></a>
	<a href="account.html"><li>Order History</li></a>
	<a href="account.html"><li>Products</li></a>
	</ul>
</div>
<div class="col-md-3 text-center">
	<ul class="list-unstyled">
	<li><h3>Small Print</h3></li>
	<a href="terms.html"><li>Terms & conditions</li></a>
	<a href="terms.html#Delivery"><li>Delivery Terms</li></a>
	<a href="terms.html#return"><li>Return Policy</li></a>
	</ul>
</div>
<div class="col-md-3 text-center">
	<ul class="list-unstyled">
	<li><h3>Our Support</h3></li>
	<a href="about-us.html"><li>About Us</li></a>
	<a href="contact.html"><li>Contact Us</li></a>
	<a href="site-map.html"><li>Site Map</li></a>
	</ul>
</div>
</footer>



