


<div class='jMyCarousel myHover'>
<ul>
<li><a href="#"><img src='{{ url_for("static", filename="images/image-1.jpg") }}' alt="">
<li><a href="#"><img src='{{ url_for("static", filename="images/image-2.jpg") }}' alt=''></a></li>
<li><a href="#"><img src='{{ url_for("static", filename="images/image-3.jpg") }}' alt=''></a></li>
<li><a href="#"><img src='{{ url_for("static", filename="images/image-4.jpg") }}' alt=''></a></li>
<li><a href="#"><img src='{{ url_for("static", filename="images/image-5.jpg") }}' alt=''></a></li>
<li><a href="#"><img src='{{ url_for("static", filename="images/image-6.jpg") }}' alt=''></a></li>
</ul>
</div>

