
<form class="form-horizontal" name="add-product" enctype="multipart/form-data" method="post" action="{{ url_for('auth.account') }}">
<fieldset>
  {{ add_product_form.hidden_tag() }}

<!-- Form Name -->
<legend>Add Products</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">{{ add_product_form.name.label }}</label>
  <div class="col-md-4">
    {{ add_product_form.name(placeholder=add_product_form.name.description,  class="form-control input-md") }}
  <span class="help-block">What is the display name of you product</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">{{ add_product_form.description.label }}</label>
  <div class="col-md-4">                     
    {{ add_product_form.description(placeholder=add_product_form.description.description,  class="form-control input-md") }}
  </div>
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="image">{{ add_product_form.image.label }}</label>
  <div class="col-md-4">
    {{ add_product_form.image(class="form-control input-md input-file btn btn-success") }}
  </div>
</div>

<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cost">{{ add_product_form.cost.label }}</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">EUR</span>
      {{ add_product_form.cost(placeholder=add_product_form.cost.description,  class="form-control input-md") }}
    </div>
    <p class="help-block">What is the sale value of the product</p>
  </div>
</div>

<!-- Select Basic -->
<!--TODO add in the function to set the shipping type -->
<div class="form-group">
  <label class="col-md-4 control-label" for="postgroup">Shipping Cost <strong>This needs input</strong></label>
  <div class="col-md-4">
    <select id="postgroup" name="postgroup" class="form-control">
      <option value="1">Cost 1</option>
      <option value="2">Cost 2</option>
      <option value="3">Cost 3</option>
    </select>
  </div>
</div>

<!-- Multiple Checkboxes (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="forsale">{{ add_product_form.active.label }}</label>
  <div class="col-md-4">
    <label class="checkbox-inline" for="forsale-0">
      <!--TODO formatting needed here-->
      {{ add_product_form.active(placeholder=add_product_form.active.description,  class="form-control input-md") }}
      Yes
    </label>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

</fieldset>
</form>

