<!-- form to update the user name -->
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Update User Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">New User Name</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="User Name" class="form-control input-md">
  <span class="help-block">This will need a checking function </span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password</label>
  <div class="col-md-4">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="Confirm Password" class="form-control input-md">
    <span class="help-block">You need to confirm your password to change your User Name</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Change User Name</button>
  </div>
</div>

</fieldset>
</form>